/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Sidebar */
/* Sidebar */
.sidebar {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Horizontal menu using Flexbox */
.horizontal-menu {
    list-style-type: none;
    padding: 0;
    display: flex; /* Use Flexbox to display items horizontally */
    justify-content: space-around; /* Distribute items evenly with space between */
    flex-wrap: wrap; /* Allow items to wrap to next line if needed */
}

.horizontal-menu li {
    padding: 10px 20px;
    text-align: center;
}

.horizontal-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.horizontal-menu li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Adjust the icon size */
.horizontal-menu li a i {
    margin-right: 8px;
    font-size: 20px;
}


/* Main Content */
.main-content {
    margin-left: 40px;
    padding: 20px;
}

h1 {
    color: #333;
}

/* Card Styles */
.card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.card-body i {
    color: #FFB6C1;  /* Light Pink */
}

.card h3 {
    margin-top: 20px;
    color: #333;
}

.card p {
    font-size: 24px;
    margin: 10px 0;
}

.card button {
    background-color: #FFB6C1;  /* Light Pink */
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.card button a {
    color: white;
    text-decoration: none;
}

.card button:hover {
    background-color: #ff99b3; /* Slightly darker pink */
}

/* Bootstrap customization for buttons */
.btn-pink {
    background-color: #FFB6C1;
    color: white;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    padding: 10px 0;
    border: none;
}

.btn-pink:hover {
    background-color: #ff99b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 180px;
    }

    .main-content {
        margin-left: 250px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-md-4 {
        width: 80%;
        margin-bottom: 20px;
    }
}
